Data from: https://www.kaggle.com/datasets/jaganadhg/house-hold-energy-data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv("D202.csv")

In [9]:
df["DATE"] = pd.to_datetime(df["DATE"])

In [11]:
df.head()

             TYPE       DATE START TIME END TIME  USAGE UNITS    COST  NOTES
0  Electric usage 2016-10-22       0:00     0:14   0.01   kWh  $0.00     NaN
1  Electric usage 2016-10-22       0:15     0:29   0.01   kWh  $0.00     NaN
2  Electric usage 2016-10-22       0:30     0:44   0.01   kWh  $0.00     NaN
3  Electric usage 2016-10-22       0:45     0:59   0.01   kWh  $0.00     NaN
4  Electric usage 2016-10-22       1:00     1:14   0.01   kWh  $0.00     NaN

In [5]:
df.shape

(70368, 8)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70368 entries, 0 to 70367
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TYPE        70368 non-null  object
 1   DATE        70368 non-null  datetime64[ns]
 2   START TIME  70368 non-null  object
 3   END TIME    70368 non-null  object
 4   USAGE       70368 non-null  float64
 5   UNITS       70368 non-null  object
 6   COST        70368 non-null  object
 7   NOTES       0 non-null      float64
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 4.3+ MB

In [12]:
df["DATE"].value_counts()

2017-11-05    100
2016-11-06    100
2018-02-16     96
2018-02-18     96
2018-02-19     96
             ...
2017-06-26     96
2017-06-27     96
2017-06-28     96
2017-03-12     92
2018-03-11     92
Name: DATE, Length: 733, dtype: int64